@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul,
li {
    list-style: none;
    /* добавила иначе едет все */
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 558px) {
    .container {
        max-width: 558px;
    }
}