/* HEADER */

.header {
  padding: 40px 70px 97px 70px;
  background-image: url(../images/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lib {
  padding: 40px 70px 81px 70px;
  background-image: url(../images/header/header-bg-lib.jpg);
}

/* .header__container {
} */

.header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.167;
  color: #ffffff;
}

.header__title_wrapper {
  display: flex;
  align-items: center;
}

.header__title_wrapper img {
  margin-right: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.header-top ul {
  display: flex;
  list-style: none;
}

.header-top ul li:first-child {
  margin-right: 40px;
}

.header-top ul a {
  position: relative;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top ul a::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -20%;
  opacity: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -1px 0px 0px #ff6b08;
  border-bottom: 3px solid #ff6b08;
  transition: 0.5s;
}

.header-top ul a:hover:after {
  opacity: 1;
}

.header__form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  border-bottom: 0.5px solid #ffffff;
  width: 336px;
}

.header__form input {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  outline: none;
  padding: 4px;
}

.header input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.875;
  color: #ffffff;
}

.button__search {
  background: transparent;
  border: none;
}

.lybrary {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: none;
}

/* /HEADER */
@media screen and (max-width: 558px) {
  .header__title_wrapper h1 {
    display: none;
  }

  .header__form {
    width: 280px;
  }

  .header {
    padding: 58px 20px 97px;
  }
}
