body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul, li {
    list-style: none;
}

/* HEADER */

.header {
    padding: 40px 70px 97px 70px;
    background-image: url(../images/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.lib {
    background-image: url(../images/header/header-bg-lib.png);
    ;
}

.header__container {

}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.167;
    color: #ffffff;
}

.header__title_wrapper {
    display: flex;
    align-items: center;
}

.header__title_wrapper img {
    margin-right: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.header-top ul {
    display: flex;
    list-style: none;
}

.header-top ul li:first-child {
    margin-right: 40px;
}

.header-top ul a {
    position: relative;
    font-size: 12px;
    line-height: 1.167;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-top ul a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 0px 0px #FF6B08;
    border-bottom: 3px solid #FF6B08;
    transition: 0.5s;
}

.header-top ul a:hover:after {
    opacity: 1;
}

.header__form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    border-bottom: 0.5px solid #FFFFFF;
    width: 336px;
}
.header__form input {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    width: 100%;
    outline: none;
    padding: 4px;
}

.header input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 0.875;
    color: #FFFFFF;
}
.button__search {
    background: transparent;
    border: none;
}

.lybrary {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    display: none;
}
/* /HEADER */

/* MAIN */

.main {
    padding: 60px 70px;
    background-color: #ffffff;
    height: 100vh;
}

#watched,
#queue {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width: 136px;
    height: 44px;
    border-radius: 5px;
    transition: 0.25s;
}

#watched {
    background-color: #FF6B01;
    border: none;
}

#queue {
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-left: 15px;
}

#watched:hover,
#watched:focus,
#queue:hover,
#queue:focus {
    background-color: #ffffff;
    color: #FF6B01;
    border: none;
    opacity: 1;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__cart {
    width: 274px;
    height: 440px;
    margin-bottom: 30px;
}

.movie__poster {
    display: block;
    width: 274px;
    height: 398px;
    border-radius: 5px;
}

.movie__title {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 10px;
}

.movie__text-container {
    display: flex;
}

.movie__description {
    font-size: 12px;
    line-height: 16px;
    color: #FF6B08;
}

.movie__rating {
    display: block;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6B01;
    border-radius: 5px;
    padding: 1px 10px;
    margin-left: 11px;
}

/* /MAIN */

/* FOOTER */
.footer {
    padding: 30px;
    background-color: #f7f7f7;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container p,
.footer__container span,
.footer__container a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    color: #545454;
}

.footer__container img {
    margin: 0 10px 0 10px;
}

.footer__container span {
    margin-right: 5px;
}

.footer__container a {
    text-decoration: underline;
}

/* /FOOTER */



/* LOADER SPINER */
.loader {
    margin: 50px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (max-width: 558px) {
    .container {
        max-width: 558px;
    }
    .header__title_wrapper h1 {
        display: none;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__link {
        display: flex;
    }
        .footer__container p {
            margin-bottom: 10px;
        }
        .header__form {
            width: 280px;
        }
        .header {
                padding: 58px 20px 97px;
        }
                .footer__container p,
                .footer__container span,
                .footer__container a {
                    font-size: 14px;
                    line-height: 1.143;
                }
}