body {
    background-color: grey;
    font-weight: 500;
    font-style: normal;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 70px 97px 70px;
    background-image: url(../images/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.167;
    color: #ffffff;
}
.header__title_wrapper {
    display: flex;
    align-items: center;
}
.header__title_wrapper img {
    margin-right: 10px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.header-top ul {
    display: flex;
    list-style: none;
}
.header-top ul li:first-child {
    margin-right: 40px;
}
.header-top ul a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* /HEADER */

/* MAIN */

.main {
    padding: 60px 70px;
    background-color: #ffffff;
}

/* /MAIN */

/* LOADER SPINER */
.loader {
    margin: 50px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}