body {
    background-color: grey;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* HEADER */

.header {
    padding: 40px 70px 97px 70px;
    background-image: url(../images/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__container {

}
.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.167;
    color: #ffffff;
}
.header__title_wrapper {
    display: flex;
    align-items: center;
}
.header__title_wrapper img {
    margin-right: 10px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.header-top ul {
    display: flex;
    list-style: none;
}
.header-top ul li:first-child {
    margin-right: 40px;
}
.header-top ul a {
    position: relative;
    font-size: 12px;
    line-height: 1.167;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-top ul a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 0px 0px #FF6B08;
    border-bottom: 3px solid #FF6B08;
    transition: 0.5s;
}
.header-top ul a:hover:after {
    opacity: 1;
}
.header__form {
    text-align: center;
    margin: 0 auto;
}
.header input {
    width: 336px;
    border: none;
    border-bottom: 0.5px solid #FFFFFF;;
    background-color: transparent;
    padding: 4px 0;     
}
.header input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 0.875;
    color: #FFFFFF;
}
/* /HEADER */

/* MAIN */

.main {
    padding: 60px 70px;
    background-color: #ffffff;
}

#watched:hover,
#queue:hover,
#watched:focus,
#queue:focus {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    width: 136px;
    height: 44px;
    left: 241px;
    top: 121px;
    background-color: #FF6B01;
    border-radius: 5px;
    border: none;
}

/* /MAIN */

/* FOOTER */
.footer {
    padding: 30px;
    background-color: #f7f7f7;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__container p,
.footer__container span,
.footer__container a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    color: #545454;
}
.footer__container img {
    margin: 0 10px 0 10px;
}
.footer__container span {
    margin-right: 5px;
}
.footer__container a {
    text-decoration: underline;
}

/* /FOOTER */




/* LOADER SPINER */
.loader {
    margin: 50px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}