/* $mini-mobile: 320px;
$mobile: 480px;
$tablet: 768px;
// $desktop: 1366px;
$desktop: 1346px; */
/* вынести в основное */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  padding-inline-start: 0px;
}
/* вынести в основной файл */
body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 160;
  width: 100%;
  height: 100%;

  background-color: var(--background-mobile-menu-color);

  overflow-y: scroll;
  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.7);
  z-index: 160;
}

.modal {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 100vh;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  overflow-y: auto;
  padding: 48px 20px;
  /* transform: translateX(-50%) scale(1); */
  /* transition: var(--time-duration) var(--timing-function); */
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  padding-right: 0;
  background-color: #ffffff;

  /* transition: background-color var(--time-duration) var(--timing-function); */
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #ff6b08;
}
.modal-close-button-svg {
  /* width: 100%;
  height: 100%; */
  fill: black;
}
.current__content {
  width: 240px;
  height: 357px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #818181;
}
.current_image {
  display: block;
}

.modal-ul {
  list-style: none;
}

.modal-button-wrapper {
  display: flex;
  justify-content: space-between;
}
.modal-button {
  width: 112px;
  background-color: #ffffff;
  border-radius: 5px;
}

.modal-btn-orange {
  background-color: #ff6b01;
  border: 0px;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .modal {
    width: 618px;
    height: 562px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 882px;
    height: 568px;
  }
}
