.open-small-modal{
	position: relative;
  color: #545454;
  border:none;
  background-color:#fff;
  text-decoration: underline;
  cursor: pointer;
}
.why {
	position: relative;
 

}
.container-small-modal {
  position: absolute;
  overflow: hidden;
  width: 600px;
  height: 400px;
	top: -450px;
	left: -250px;
	border-radius: 4px;
	/* border:10px solid  #ff6b01; */
	box-shadow: 0 4px 4px #00000040;
}
@media screen and (min-width: 767px) {
  .container-small-modal {
    left:-450px
  }
}

@media screen and (max-width: 767px) {
  .container-small-modal {
    width: 300px;
    left:-150px
  }
}
.small-is-hidden {
  opacity:0;
}
.sidebar {
  height: 400px;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
}

.small-btn {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.small-btn:hover {
  color: #222;
}

.small-btn:focus {
  outline: none;
}

.container-small-modal .controls .small-btn {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container-small-modal .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container-small-modal .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
