<header class="header">
    <div class="header__container">
        <div class="header-top">
            <a class="header__title_wrapper" href="/">
                <img src="./images/header/film.svg" alt="иконка кино ленты">
                <h1>MovieMania</h1>
            </a>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">my library</a>
                </li>
            </ul>
        </div>
        <form class="header__form">
            <input type="text" placeholder="Поиск фильмов">
            <button type="submit" id="button__search">

            </button>
        </form>
    </div>    
</header>