<header class="header">
    <div class="header__container">
        <div class="header-top">
            <a class="header__title_wrapper" href="/">
                <img src="./images/header/film.svg" alt="иконка кино ленты">
                <h1>MovieMania</h1>
            </a>
            <ul>
                <li>
                    <a id="home" href="">Home</a>
                </li>
                <li>
                    <a id="my_library" href="">my library</a>
                </li>
            </ul>
        </div>

        <form class="header__form">
            <input type="text" placeholder="Поиск фильмов">
            <button type="submit" id="button__search"></button>
        </form>

        <div class="lybrary">
            <button type="button" id="watched">WATCHED</button>
            <button type="button" id="queue">QUEUE</button>
        </div>
    </div>
</header>