
<div class="backdrop is-hidden" data-modal>
  <div class="modal">

    <button class="modal-close-button" data-modal-close>
      <img
        class="modal-close-button-svg"
        src="./images/svg/close-modal.svg"
        alt=""
      />

    </button>

    <div class="modal__box">
      <div class="current__content">
        <img class="current_image" src="#" alt="#" />
      </div>


      <div class="modal-rigth-side">
        <h3 class="modal-movie-name">BLABLABLA</h3>

        <div class="modal-ul-wrapper">
          <ul class="modal-ul modal-ul-sec gray">
            <li>Vote / Votes</li>
            <li>Popularity</li>
            <li>Original Title</li>
            <li>Genre</li>
          </ul>
          <ul class="modal-ul-sec">
            <li class="gray">
              <span class="modal-vote">BLA</span> /
              <span class="modal-votes">BLA</span>
            </li>
            <li>BLABLABLA</li>
            <li>BLABLABLA</li>
            <li>BLABLABLA</li>
          </ul>
        </div>

        <h4 class="modal-about">ABOUT</h4>
        <p class="modal-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how? Four of the West’s most infamous
          outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is
          killed and the other three escapes with bags of gold hide out in the
          abandoned gold mine where they happen across another gang of three –
          who themselves were planning to hit the very same bank! As tensions
          rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <!-- кнопки -->
        <div class="modal-button-wrapper">
          <button
            class="modal-button modal-btn-orange"
            type="submit"
            data-button-del-watched
          >
            ADD TO WATCHED
          </button>
          <button class="modal-button" type="submit" data-button-del-queue>
            ADD TO QUEUE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
