<div class="container-small-modal small-is-hidden">
  <div class="sidebar">
    <div
      style="background: linear-gradient(229.99deg, #eceeee -26%, #0ed8fc 145%)"
    >
      <h1>Дарья</h1>
    </div>
    <div
      style="background: linear-gradient(215.32deg, #b4926b -1%, #804a17 124%)"
    >
      <h1>Алексей</h1>
    </div>
    <div
      style="background: linear-gradient(221.87deg, #48ff70 1%, #08bd08 128%)"
    >
      <h1>Альфат</h1>
    </div>
    <div
      style="background: linear-gradient(220.16deg, #e0dbb6 -8%, #e48f21 138%)"
    >
      <h1>Дэвис</h1>
    </div>
    <div
      style="background: linear-gradient(220.16deg, #b6c3e0 -8%, #21b6e4 138%)"
    >
      <h1>Александр</h1>
    </div>
    <div
      style="background: linear-gradient(220.16deg, #e0b6d7 -8%, #e42183 138%)"
    >
      <h1>Соня</h1>
    </div>
  </div>
  <div class="main-slide">
    <div
      class="small-div"
      style="
        background-image: url(./images/team/sonia.jpg);
      "
    ></div>
		<div
		class="small-div"
		style="
			background-image: url(./images/team/alex.jpg);
		"
	></div>
	<div
	class="small-div"
	style="
		background-image: url(./images/team/devis.jpg);
	"
></div>
<div
class="small-div"
style="
	background-image: url(./images/team/alfat.jpg);
"
></div>
		<div
		class="small-div"
		style="
			background-image: url(./images/team/alexey.jpg);
		"
	></div>

    <div
      class="small-div"
      style="
        background-image: url(./images/team/dasha.jpg);
      "
    ></div>
    
  </div>
  <div class="controls">
    <button class="down-button small-btn">
      <i class="fas fa-arrow-down"></i>
    </button>
    <button class="up-button small-btn">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
	<button class="modal-close-button close-small-modal-btn">
		<img
			class="modal-close-button-svg"
			src="./images/svg/close-modal.svg"
			alt=""
		/>

	</button>
</div>
